<article class="post">
  <div class="title">
    <a href="/post/{{id}}">{{title}}</a>
    <span>(Post by {{user.username}} on {{format_date created_at}})</span>
  </div>
  <div class="meta">
     {{format_url post_body}}
    <!--<a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>-->
  </div>
</article>